            <!-- PARA EMPRESAS -->
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBusiness" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="50" height="40" focusable="false">
                  <path d="M3 3h4v4H3zm7 4h4V3h-4zm7-4v4h4V3zM3 14h4v-4H3zm7 0h4v-4h-4zm7 0h4v-4h-4zM3 21h4v-4H3zm7 0h4v-4h-4zm7 0h4v-4h-4z"></path>
                </svg>
                <span class="d-none d-lg-inline">Para negocios</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdownBusiness">
                <li><a class="dropdown-item" href="#">Soluciones de talento</a></li>
                <li><a class="dropdown-item" href="#">Soluciones de marketing</a></li>
                <li><a class="dropdown-item" href="#">Ventas</a></li>
                <li><a class="dropdown-item" href="#">Aprendizaje</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Crear una página de empresa</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/mynetwork/?">
                <span class="position-relative">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24" focusable="false">
                    <path d="M12 16v6H3v-6a3 3 0 013-3h3a3 3 0 013 3zm5.5-3A3.5 3.5 0 1014 9.5a3.5 3.5 0 003.5 3.5zm1 2h-2a2.5 2.5 0 00-2.5 2.5V22h7v-4.5a2.5 2.5 0 00-2.5-2.5zM7.5 2A4.5 4.5 0 1012 6.5 4.49 4.49 0 007.5 2z"></path>
                  </svg>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    1
                    <span class="visually-hidden">1 actualización de red notificación nueva</span>
                  </span>
                </span>
                <span class="d-block d-lg-none">Mi red</span>
                <span class="d-none d-lg-block">Mi red</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/jobs/?">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24" focusable="false">
                  <path d="M17 6V5a3 3 0 00-3-3h-4a3 3 0 00-3 3v1H2v4a3 3 0 003 3h14a3 3 0 003-3V6zM9 5a1 1 0 011-1h4a1 1 0 011 1v1H9zm10 9a4 4 0 003-1.38V17a3 3 0 01-3 3H5a3 3 0 01-3-3v-4.38A4 4 0 005 14z"></path>
                </svg>
                <span class="d-block d-lg-none">Empleos</span>
                <span class="d-none d-lg-block">Empleos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/messaging/?">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24" focusable="false">
                  <path d="M16 4H8a7 7 0 000 14h4v4l8.16-5.39A6.78 6.78 0 0023 11a7 7 0 00-7-7zm-8 8.25A1.25 1.25 0 119.25 11 1.25 1.25 0 018 12.25zm4 0A1.25 1.25 0 1113.25 11 1.25 1.25 0 0112 12.25zm4 0A1.25 1.25 0 1117.25 11 1.25 1.25 0 0116 12.25z"></path>
                </svg>
                <span class="d-block d-lg-none">Mensajes</span>
                <span class="d-none d-lg-block">Mensajes</span>
              </a>
            </li>

            <!-- boton seguir -->
            <div>
              <button class="btn btn-outline-primary btn-sm rounded-pill" aria-label="Seguir a Nueva Revista" aria-pressed="false" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2z"/>
                </svg>
                Seguir
              </button>
            </div>







































  <span class="reactions-react-button feed-shared-social-action-bar__action-button feed-shared-social-action-bar--new-padding">
    <button aria-pressed="false" aria-label="Recomendar" id="ember149" class="artdeco-button artdeco-button--muted artdeco-button--3 artdeco-button--tertiary ember-view social-actions-button react-button__trigger"><!---->
      <span class="artdeco-button__text">
        <div class="flex-wrap justify-center artdeco-button__text align-items-center">
          <svg role="none" aria-hidden="true" class="artdeco-button__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-supported-dps="16x16" data-test-icon="thumbs-up-outline-small">
            <use href="#thumbs-up-outline-small" width="16" height="16"></use>
          </svg>
          <span aria-hidden="true" class="artdeco-button__text react-button__text social-action-button__text"> Recomendar</span>
        </div>
      </span>
    </button>
    <button aria-label="Abrir el menú de reacciones" aria-expanded="false" id="ember150" class="artdeco-button artdeco-button--muted artdeco-button--2 artdeco-button--tertiary ember-view reactions-menu__trigger" data-finite-scroll-hotkey="l"><!---->
      <span class="artdeco-button__text">
        <svg role="none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-supported-dps="16x16" data-test-icon="caret-small">
          <use href="#caret-small" width="16" height="16"></use>
        </svg>
      </span>
    </button>
  </span>
  <span tabindex="-1" id="ember151" class="artdeco-hoverable-trigger artdeco-hoverable-trigger--content-placed-top artdeco-hoverable-trigger--is-hoverable ember-view feed-shared-social-action-bar__action-button feed-shared-social-action-bar--new-padding">
    <div>
      <button role="button" aria-label="Comentar" id="feed-shared-social-action-bar-comment-ember148" class="artdeco-button artdeco-button--muted artdeco-button--3 artdeco-button--tertiary ember-view social-actions-button comment-button flex-wrap " data-finite-scroll-hotkey="c">        <svg role="none" aria-hidden="true" class="artdeco-button__icon " xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-supported-dps="16x16" data-test-icon="comment-small">
      <use href="#comment-small" width="16" height="16"></use>
  </svg>


  <span class="artdeco-button__text">
      Comentar
  </span></button>
    </div>
  <div id="artdeco-gen-45" class="ember-view"><div id="ember154" class="ember-view"></div></div>
  </span>

    <div id="ember155" class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view feed-shared-social-action-bar__action-button feed-shared-social-action-bar--new-padding">
      <span tabindex="-1" id="ember157" class="artdeco-hoverable-trigger artdeco-hoverable-trigger--content-placed-top artdeco-hoverable-trigger--is-hoverable ember-view flex-1 display-flex">
        <button aria-expanded="false" aria-label="" id="ember158" class="artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view
            artdeco-button social-actions-button social-reshare-button flex-wrap
            artdeco-button--muted artdeco-button--3 artdeco-button--tertiary" data-finite-scroll-hotkey="r" type="button" tabindex="0">
            <svg role="none" aria-hidden="true" class="artdeco-button__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-supported-dps="16x16" data-test-icon="repost-small">
<!---->
    <use href="#repost-small" width="16" height="16"></use>
</svg>

            <span class="artdeco-button__text social-action-button__text">Compartir</span>

<!----></button>

        <div tabindex="-1" aria-hidden="true" id="ember159" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view social-reshare-button__share-dropdown-content"><!----></div>

        <div id="artdeco-gen-46" class="ember-view"><div id="ember161" class="ember-view"></div></div>
      </span>
        <div>


<!---->

</div>

<!---->
<!---->    </div>

                <div class="feed-shared-social-action-bar__action-button feed-shared-social-action-bar--new-padding">
                  <span tabindex="-1" id="ember162" class="artdeco-hoverable-trigger artdeco-hoverable-trigger--content-placed-top artdeco-hoverable-trigger--is-hoverable ember-view">

    <button aria-label="Enviar en un mensaje privado" id="ember163" class="artdeco-button artdeco-button--muted artdeco-button--3 artdeco-button--tertiary ember-view social-actions-button send-privately-button flex-wrap
         send-privately-button" data-finite-scroll-hotkey="s" type="button">        <svg role="none" aria-hidden="true" class="artdeco-button__icon " xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-supported-dps="16x16" data-test-icon="send-privately-small" data-rtl="true">
<!---->
    <use href="#send-privately-small" width="16" height="16"></use>
</svg>


<span class="artdeco-button__text">

        <span class="artdeco-button__text social-action-button__text">
          Enviar
        </span>

</span></button>

                    <div id="artdeco-gen-47" class="ember-view"><div id="ember165" class="ember-view"></div></div>
                  </span>
                </div>
<!----><!---->
</div>
